@charset "utf-8";
.dl_about{
font-size:15px;
margin:0 20px;
}
.dl_about dt{
background:#99CC00;
padding:8px 10px;
margin:0 0 10px 0;
color:#ffffff;
font-weight:bold;
border-bottom:dashed 1px #ffffff;
}
.dl_about dd{
padding:0 10px 10px 10px;
margin:0 0 10px 0;
}
div#div_thum{
width:360px;
float:left;
}
#div_thum ul{
margin:0 0 20px 0;
}
#div_thum li{
list-style:none;
float:left;
margin:0 0 5px 5px;
}
#div_thum img{
border:solid 2px #E6E6E6;
}
#div_thum a:hover img{
border:solid 2px #66CC00;
}
#div_view{
width:530px;
height:530px;
float:right;
border:solid 1px #CCCCCC;
text-align:center;
padding:15px 0;
}
.p_thumne_navi{
background:#e6e6e6;
margin:0px 15px 5px 15px;
padding:3px 0;
text-align:center;
font-size:11px;
}
#googlemap_2{
clear:both;
margin:0 0 0 4px;
border:solid 1px #cccccc;
width:347px;
height:260px;
}
#div_view_comment{
text-align:left;
margin:5px 15px;
}
#div_view_comment h2{
color:#669900;
font-size:17px;
padding:0 0 3px 0;
border-bottom:dotted 1px #669900;
margin:10px 0 5px 0;
}
#div_comment{
clear:both;
padding:30px 0 10px 0;
}
.comment_box{
padding:15px;
border-bottom:dotted 1px #669900;
background:#f4fec5;
}
.comment_box p{
text-align:right;
color:#999999;
}
.more_comment{
margin:3px 0 0 0;
text-align:right;
}
#div_link_box{
text-align:center;
padding:10px 0 40px ;
}
.link_box{
float:left;
width:20%;
margin:0 15px 0 0;
border:solid 1px #CCCCCC;
background:#f6f6f6;
padding:7px 0;
text-align:center;
}
#div_profile{
float:right;
text-align:left;
font-size:12px;
line-height:1.5em;
width:530px;
}
#div_profile dt{
width:100px;
}
#div_profile dd{
margin:-18px 0 10px 100px;
}
#div_allubm_thumne{
float:left;
}
#div_allubm_comment{
float:right;
width:800px;
}
#div_allubm_comment h2{
color:#669900;
font-size:17px;
padding:0 0 3px 0;
border-bottom:dotted 1px #669900;
margin:0 0 5px 0;
}
#div_alubm_thum{
float:left;
width:640px;
}
#div_alubm_thum ul{
margin:0 0 20px 0;
}
#div_alubm_thum li{
list-style:none;
float:left;
margin:0 0 5px 5px;
}
#div_alubm_thum img{
border:solid 2px #E6E6E6;
}
#div_alubm_thum a:hover img{
border:solid 2px #66CC00;
}
#div_alubm_album{
float:right;
width:250px;
margin:0 10px 0 0;
background:#f4fec5;
}