<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>管理の削除確認ページです</h1>
	<table>
		<form method="POST" action="deleteend">
			<tr>
				<td>名前</td>
				<td>{{datas.name}}</td>
			</tr>
			<tr>
				<td>タグ</td>
				<td>{{datas.tag}}</td>
			</tr>
			<tr>
				<td>
				<input type="submit" value="削除" />
				</td>
			</tr>
			<input type="hidden" name="pictureid" value="{{datas.key.id}}" />
		</form>
	</table>
	<a href="/admin/picture/list">一覧に戻る</a>

</body>
