<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../../../js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.MultiFile.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.form.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.MetaData.js"></script>
	<script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>
</head>
<body>
	<h1>管理の画像登録ページです</h1>
	<form method="POST" action="/admin/picture/insertend" enctype="multipart/form-data">
		<table>
			<tr>
				<td>画像</td>
				<td><input type="file" class="multi" name="binary" maxlength="20" /></td>
			</tr>
			<tr>
				<td></td>
				<td>最大10牧まで選択して複数アップロードが可能です。</td>
			</tr>
			<tr>
				<td>
				<input type="submit" value="登録" />
				</td>
			</tr>
		</table>
	</form>
	<a href="/admin/picture/list">一覧に戻る</a>

</body>
