{% include "header.html" %}
<style type="text/css">
    .tooltip{font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px; }
    a:hover {background:#ffffff; text-decoration:none;} /*BG color is a must for IE6*/
    a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:250px;}
    a.tooltip:hover span{display:inline; position:absolute; border:1px solid #cccccc; background:#ffffff; color:#6c6c6c;}
</style>
</head>

<body id="bodymain">

<div id="container"><!--container-->

<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- header -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="header">
<a name="top" id="top"></a>
<!--left-->
<div id="h_left">
<h1>
    <a href="/index" class="tooltip">
        <img src="../../../images/id.jpg" alt="メイクビュー｜googlemap連動写真共有サービス" title="メイクビュー｜googlemap連動写真共有サービス" />
        <span>クリックするとトップページに遷移します</span>
    </a>
</h1>
</div>
<!--right-->
<div id="h_right">
        {% ifequal loginFlg 1 %}
            <a href="user/album/list">
                <img src="../../../images/bt_mypage.jpg" alt="マイページ" title="マイページ" />
            </a>
            <a href="{{logout_link}}">
                <img src="../../../images/bt_logout.jpg" alt="ログアウト" title="ログアウト" />
            </a>
        {% else %}
            <a href="{{user_top_link}}" style="text-decoration: none; margin-left:100px;">
                <img src="../../../images/bt_login.jpg" alt="ログイン" title="ログイン" />
            </a>
        {% endifequal %}
        <a href="https://www.google.com/accounts/NewAccount?hl=ja">
            <img src="../../../images/bt_creatac.jpg" alt="googleアカウント作成" title="googleアカウント作成" />
        </a>
    </div>
</div>


<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- serch -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="serch">
<div id="serch_in">
</div>
</div>


<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- main_wrap -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="main_wrap" class="clearfix"><!--main-->
<!-- InstanceBeginEditable name="EditRegion3" -->

<h2 id="h2_title">メイクビューはいろいろ使える地域型アルバムサービスです！</h2>

<a href="/index">
    <img src="images/image_about.jpg" />
</a>

<dl class="dl_about">
<dt>どんなサービス？</dt>
<dd>
メイクビューでは、あなたが撮った写真をgoogle mapと連動して管理できます。<br />
どの場所の写真か一目瞭然なので使い方いろいろ！<br />
お店紹介から地元自慢までいろいろ使ってください♪<br />
<br />
利用方法<br />
１、画像をアップロード<br />
２、アルバムを作成<br />
３、アルバムに画像を入れる。<br />
以上の流れで作成できます。
</dd>
</dl>


</div><!--/main_wrap-->
</div><!--/container-->

<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- footer -->
{% include "footer.html" %}
<!-- analytics -->
{% include "analytics.html" %}
<!-- /analytics -->
</body>
</html>