<div id="footer">
<div id="footer_in">
<ul>
    <li><a href="/aboutsite">メイクビューとは</a></li>
    <li><a href="/policy">運営について</a></li>
    <li>
        <!--a href="https://make-view.appspot.com/inquiry?height=310&width=370&keepThis=true&TB_iframe=true" class="thickbox">お問い合わせ</a-->
        <a href="https://make-view.appspot.com/user/inquiry?height=310&width=370&keepThis=true&TB_iframe=true" class="thickbox">お問い合わせ</a>
        <!--a href="http://localhost:8084/inquiry?height=310&width=370&keepThis=true&TB_iframe=true" class="thickbox">お問い合わせ</a-->
    </li>
</ul>
<p>copyright 2010 makeview all right reserved.</p>
</div>

</div><!--/footer_in-->
</div><!--/footer-->