<div id="login_navi">
    <h2>ユーザー管理</h2>
    <ul>
        <li>
            <a href="https://make-view.appspot.com/user/user/update?height=500&width=460&keepThis=true&TB_iframe=true" class="thickbox">プロフィール編集</a>
            <!--a href="http://localhost:8084/user/user/update?height=500&width=460&keepThis=true&TB_iframe=true" class="thickbox">プロフィール編集</a-->
        </li>
        <li><a href="/user/album/bookmark">お気に入り</a></li>
    </ul>
    <h2>画像管理</h2>
    <ul>
        <li><a href="/user/picture/list">画像一覧</a></li>
        <li><a href="/user/picture/insert">画像アップロード</a></li>
    </ul>
    <h2>アルバム管理</h2>
    <ul>
        <li><a href="/user/album/list">アルバム一覧</a></li>
        <li><a href="/user/album/insert">新規アルバム登録</a></li>
        <li><a href="/user/album/makeslideshow">スライドショー作成</a></li>
    </ul>
</div>