{% include "../headerlow.html" %}
<script type="text/javascript" src="../../../../js/jquery.MultiFile.js"></script>
<script type="text/javascript" src="../../../../js/jquery.form.js"></script>
<script type="text/javascript" src="../../../../js/jquery.MetaData.js"></script>
<script type="text/javascript" src="../../../../js/jquery.blockUI.js"></script>
</head>

<body id="bodymain">

<div id="container"><!--container-->

<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- headerdetail -->
{% include "../headerdetail.html" %}
<!-- /headerdetail -->
<!-- main_wrap -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="main_wrap" class="clearfix"><!--main-->

<!-- main -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="login_main">

<h2 id="h2_title">画像アップロード</h2>

<div id="login_header2" class="clearfix">
<div id="div_new2">
    <h2>アップロード完了しました。</h2>
</div>

<br class="clearboth" />
</div>

<br />
</form>
<br class="clearboth" />

</div><!--/main-->

<!-- navi -->
{% include "../navi.html" %}
<!-- /navi -->
</div><!--/main_wrap-->
</div><!--/container-->

<!-- footer -->
{% include "../footer.html" %}
<!--/footer-->
<!-- analytics -->
{% include "../analytics.html" %}
<!-- /analytics -->
</body>
</html>