{% include "../headerlow.html" %}
<script type="text/javascript" src="http://maps.google.co.jp/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="../../../../js/jquery.validate.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $("#albumform").validate({
                rules : {
                    title: {
                        required: true,
                        maxlength: 20
                    },
                    address: {
                        required: true,
                        maxlength: 30
                    },
                    tag: {
                        maxlength: 140
                    },
                    recital: {
                        maxlength: 140
                    }
                },
                messages: {
                    title: {
                        required: "タイトルは必須項目です",
                        maxlength: "タイトルは20文字までにして下さい"
                    },
                    address: {
                        required: "住所は必須項目です",
                        maxlength: "住所は40文字までにして下さい"
                    },
                    tag: {
                        maxlength: "キーワードは140文字までにして下さい"
                    },
                    recital: {
                        maxlength: "備考は140文字までにして下さい"
                    }
                },
                errorClass: "myError"
            });
        });
</script>
<style type="text/css">
    label.myError {
        color: red;
    }
</style>
<script type="text/javascript">
        var timeId=null;
        $("#postCode").live("keyup",function(event){

            var postCode = document.getElementById("postCode");
            var checkVal = isNaN(postCode.value);

            if(checkVal){
                alert("数字を入力して下さい");
                postCode.value = "";
                return ;
            }

            if(!isNaN(jQuery.data(postCode))){
                if(timeId != null){
                    clearTimeout(timeId);
                }

                timeId = setTimeout("searchdb()", 1500);

            }

        })

        function searchdb(){
            var postCode = document.getElementById("postCode");
            var data = 'postCode='+postCode.value;
            var url = '/user/album/getaddress';

            $.get(url, data, function(status){

                var rex = new RegExp("({)", "i");
                status.match(rex);
                data1 = RegExp.rightContext;
                var rex2 = new RegExp("(})", "i");
                data1.match(rex2);
                data2 = RegExp.leftContext;

                var address = document.getElementById("address");
                address.value=data2;

                var request = {
                    address: data2
                };
                //getStation
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode(request, getStation);

            })
        }

        function getStation(results, status){

            if(status == google.maps.GeocoderStatus.OK){
                var data = results[0].geometry.location;
                var x = data.c;
                var y = data.b;
                setStation(data, x, y);
            }
        }

        function setStation(data, x, y){

            var goalradio = document.getElementById("goalradio");
            var startradio = document.getElementById("startradio");

            if (goalradio.checked) {
                var longitude = document.getElementById("longitude");
                longitude.value = x;
                var latitude = document.getElementById("latitude");
                latitude.value = y;
            }else if (startradio.checked) {
                var longitude2 = document.getElementById("longitude2");
                longitude2.value = x;
                var latitude2 = document.getElementById("latitude2");
                latitude2.value = y;
            }

            $.ajax({
                  url : 'http://express.heartrails.com/api/json?method=getStations&x='+x+'&y='+y,
                  data : {
                    format : 'jsonp'
                  },
                  dataType : 'jsonp',
                  jsonp : 'jsonp',
                  complete : function(){
                  },
                  success : function(data){
                      datas = data.response.station[0].line+data.response.station[0].name;
                      var goalradio = document.getElementById("goalradio");
                      if (goalradio.checked) {
                            var station = document.getElementById('nearStation');
                            station.value=datas;
                      }
                  },
                  beforeSend : function(){
                  },
                  error : function(){
                  }
                });
        }
</script>
<script type="text/javascript">
        var map_canvas;
        var infoWnd;
        function initialize(){
            var mapTypeOpts = {
                mapTypeIds : [google.maps.MapTypeId.ROADMAP]

            };

            var initPos = new google.maps.LatLng({{datas.point}});
            var mapOptions = {
                center : initPos,
                zoom : 17,
                scrollwheel: false,
                mapTypeId : google.maps.MapTypeId.ROADMAP,
                mapTypeControlOptions : mapTypeOpts
            };
            var mapId = document.getElementById("map_canvas");
            map_canvas = new google.maps.Map(mapId, mapOptions);

            var query = {
                latLng : initPos
            }

            var geocoder = new google.maps.Geocoder();
            infoWnd = new google.maps.InfoWindow();
            infoWnd.open(map_canvas);

            clickMapSet();

        }

        //if user click get post_code and get address
        function clickMapSet(){
            google.maps.event.addListener(map_canvas, "click", function(results, status){

                setStation(results.latLng, results.latLng.c, results.latLng.b);
                var position = new google.maps.LatLng(results.latLng.b, results.latLng.c );
                var query = {latLng : position}
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode(query, procGeocodeCallback2);
            });
        }

        function procGeocodeCallback2(results, status){
            var goalradio = document.getElementById("goalradio");
            var startradio = document.getElementById("startradio");

            if (status == google.maps.GeocoderStatus.OK) {
                var data = results[0].formatted_address;
                var rex = new RegExp("(,)", "i");
                if(goalradio.checked){
                    var address = document.getElementById("address");
                }else if(startradio.checked){
                    var address = document.getElementById("startAddress");
                }

                data.match(rex);
                dataAddress = RegExp.rightContext;
                dataAddress = dataAddress.replace(/ /, "");
                address.value = dataAddress;

                var data1 = results[1].formatted_address;

                if(goalradio.checked){
                    var postCode = document.getElementById("postCode");
                }else if(startradio.checked){
                    var postCode = document.getElementById("startPostCode");
                }

                var rex2 = new RegExp("(〒)", "i");
                postCode2 = "";
                data1.match(rex2);
                datapostCode = RegExp.rightContext;
                var postCode2 = datapostCode.replace(/-/, "");
                postCode2 = postCode2.match(/[0-9]+/);
                post = "";
                post = new String(postCode2);
                if(post.length > 6){

                    postCode.value = post;
                }else{
                    postCode.value = "";
                }
            }
        }
</script>
<script type="text/javascript">
        var timeId=null;
        $("#startPostCode").live("keyup",function(event){

            var postCode = document.getElementById("startPostCode");
            var checkVal = isNaN(postCode.value);

            if(checkVal){
                alert("数字を入力して下さい");
                postCode.value = "";
                return ;
            }

            if(!isNaN(jQuery.data(postCode))){
                if(timeId != null){
                    clearTimeout(timeId);
                }

                timeId = setTimeout("searchdb2()", 1500);

            }

        })

        //startpoint
        function searchdb2(){
            var postCode = document.getElementById("startPostCode");
            var data = 'postCode='+postCode.value;
            var url = '/user/album/getaddress';

            $.get(url, data, function(status){

                var rex = new RegExp("({)", "i");
                status.match(rex);
                data1 = RegExp.rightContext;
                var rex2 = new RegExp("(})", "i");
                data1.match(rex2);
                data2 = RegExp.leftContext;

                var address = document.getElementById("startAddress");
                address.value=data2;

				var request = {
                    address: data2
                };
                //getStation
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode(request, getStation2);

            })
        }

		function getStation2(results, status){

            if(status == google.maps.GeocoderStatus.OK){
                var data = results[0].geometry.location;
                var x = data.c;
                var y = data.b;
                setStation2(data, x, y);
            }
        }

	    function setStation2(data, x, y){

            var longitude2 = document.getElementById("longitude2");
            longitude2.value = x;
            var latitude2 = document.getElementById("latitude2");
            latitude2.value = y;

        }

</script>
<script type="text/javascript">
        function setMap(){
            var mapId = document.getElementById("map_canvas");
            map_canvas = new google.maps.Map(mapId);
            var point = document.getElementById("point");
            var query = {
                address : point.value
            }
            var geocoder = new google.maps.Geocoder();
            infoWnd = new google.maps.InfoWindow()
            geocoder.geocode(query, procGeocodeCallback);

        }

        function procGeocodeCallback(results, status){

            if(status == google.maps.GeocoderStatus.OK){
                var initPos = new google.maps.LatLng(results[0].geometry.location.b, results[0].geometry.location.c);
                var mapOptions = {
                    center : initPos,
                    zoom : 17,
                    scrollwheel: false,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
                };
                var mapId = document.getElementById("map_canvas");
                map_canvas = new google.maps.Map(mapId, mapOptions);
                infoWnd.open(map_canvas);
                clickMapSet();
            }else{
                alert("検索キーワードを変更して下さい");
                var initPos = new google.maps.LatLng(35.689488, 139.691706);
                var mapOptions = {
                    center : initPos,
                    zoom : 17,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
                };
                var mapId = document.getElementById("map_canvas");
                map_canvas = new google.maps.Map(mapId, mapOptions);

                var query = {
                    latLng : initPos
                }

                var geocoder = new google.maps.Geocoder();
                infoWnd = new google.maps.InfoWindow();
                infoWnd.open(map_canvas);

                clickMapSet();
            }
        }
</script>
</head>

<body id="bodymain" onload="initialize()">

<div id="container"><!--container-->

<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- headerdetail -->
{% include "../headerdetail.html" %}
<!-- /headerdetail -->
<!-- main_wrap -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="main_wrap" class="clearfix"><!--main-->
<!-- InstanceBeginEditable name="EditRegion3" -->

<!-- main -->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div id="login_main">

<h2 id="h2_title">アルバム編集</h2>

<!--div id="login_header" class="clearfix">
	<div id="div_new">
		<ul class="ul_navi">
			<li><a href="login_top.html">アルバム一覧</a></li>
			<li><a href="login_alubmcreate.html">新規アルバム登録</a></li>
			<li><a href="login_slideshowcreate.html">スライドショー作成</a></li>
		</ul>
	</div>
</div-->
<br class="clearboth" />
<form id="albumform" method="POST" action="/user/album/updateend" >
<table class="album_insert">
    <tr>
        <td>
        <label>タイトル・目的地</label>
        </td>
        <td>
            <input type="text" class="required" name="title" size="40" value="{{datas.title|escape}}" />
            <br /><label for="title" class="myError" generated="true" /></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>郵便番号</label>
        </td>
        <td>
            <input type="text" name="postCode" id="postCode" size="10" value="{{datas.post_code|escape}}" />　※記入例　6293104　　googlemapをクリックしても入力することができます。
        </td>
    </tr>
    <tr>
        <td>
            <label>住所</label>
        </td>
        <td>
            <input type="text" class="required" name="address" id="address" size="65" value="{{datas.address|escape}}" />
            <br /><label for="address" class="myError" generated="true" /></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>最寄り駅</label>
        </td>
        <td>
            <input type="text" name="station" id="nearStation" size="30" value="{{datas.station|escape}}" />
        </td>
    </tr>
    <tr>
        <td>
            <label>最寄りのバス停</label>
        </td>
        <td>
            <input type="text" name="busStop" id="busStop" size="30" value="{{datas.bus_stop|escape}}" />
        </td>
    </tr>
    <tr>
        <td>
            <label>スタート地点</label>
        </td>
        <td>
            <input type="text" name="start" size="40" value="{{datas.start|escape}}" />
        </td>
    </tr>
    <tr>
        <td>
            <label>郵便番号</label>
        </td>
        <td>
            <input type="text" name="startPostCode" id="startPostCode" size="10" value="{{datas.start_post_code|escape}}" />
        </td>
    </tr>
    <tr>
        <td>
            <label>住所</label>
        </td>
        <td>
            <input type="text" name="startAddress" id="startAddress" size="65" value="{{datas.start_address|escape}}" />
        </td>
    </tr>
    <tr>
        <td>
            <label>目的地への所要時間</label>
        </td>
        <td>
            <input type="text" name="time" id="time" size="20" value="{{datas.time|escape}}" />
        </td>
    </tr>
    <tr>
        <td>
            <label>キーワード</label>
        </td>
        <td>
            <input type="text" name="tag" size="65" />
            <br />※　[]で区切って入力して下さい。　※記入例　[京都][お寺]
            <br /><label for="tag" class="myError" generated="true" /></label>
        </td>
    </tr>
    <tr>
        <td>googlemap</td>
        <td>
            <div>
                <input type="text" id="point" />
                <input type="button" value="移動する" onclick="javascript:setMap()" />
            </div>
            <div id="map_canvas" style="width: 500px; height: 260px"></div>
            <input type="radio" id="goalradio" name="place" checked="checked" /><label id="" for="goalradio">目的地</label>
            &nbsp;&nbsp;
            <input type="radio" id="startradio" name="place" /><label id="" for="startradio">スタート地点</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>撮影時間</label>
        </td>
        <td>
            <select name="timezone">
                <option value="1" selected="selected">撮影時間</option>
                <option value="2" {% ifequal datas.timezone 2 %} selected="selected" {% endifequal %}>朝</option>
                <option value="3" {% ifequal datas.timezone 3 %} selected="selected" {% endifequal %}>昼</option>
                <option value="4" {% ifequal datas.timezone 4 %} selected="selected" {% endifequal%}>夕方</option>
                <option value="5" {% ifequal datas.timezone 5 %} selected="selected" {% endifequal %}>夜</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>季節</label>
        </td>
        <td>
            <select name="season">
                <option value="1" selected="selected">その他</option>
                <option value="2" {% ifequal datas.season 2 %} selected="selected" {% endifequal %}>春</option>
                <option value="3" {% ifequal datas.season 3 %} selected="selected" {% endifequal %}>夏</option>
                <option value="4" {% ifequal datas.season 4 %} selected="selected" {% endifequal %}>秋</option>
                <option value="5" {% ifequal datas.season 5 %} selected="selected" {% endifequal %}>冬</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>備考</label>
        </td>
        <td>
            <textarea name="recital" id="recital" style="width:300px;height:100px;">{{datas.recital|escape}}</textarea>
            <br /><label for="recital" class="myError" generated="true" /></label>
        </td>
    </tr>
</table>

<div class="a_center">
<input type="submit" class="button_alubmupdate" value="" />
<input type="hidden" name="latitude" id="latitude" value="{{latitude}}" />
<input type="hidden" name="longitude" id="longitude" value="{{longitude}}"/>
<input type="hidden" name="latitude2" id="latitude2" value="{{latitude2}}" />
<input type="hidden" name="longitude2" id="longitude2" value="{{longitude2}}" />
<input type="hidden" name="albumid" value="{{datas.key.id}}">
<input type="hidden" name="tooken" id="tooken" value="{{tooken}}" />
<form>
</div>
</div><!--/main-->

<!-- navi -->
{% include "../navi.html" %}
<!-- /navi -->
</div><!--/main_wrap-->
</div><!--/container-->
<!-- footer -->
{% include "../footer.html" %}
<!--/footer-->
<!-- analytics -->
{% include "../analytics.html" %}
<!-- /analytics -->
</body>
</html>