<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
*{
	margin:0;
	padding:0;
	}
li{
	float:left;
	margin-right: 10px;
	list-style:none;
}
img{
	border:0;
	}
</style>
</head>
<body>
	<h1>管理のページです</h1>
	<!--li><a href="/admin/picture/list">画像一覧</a></li>
	<li><a href="/admin/album/list">アルバム一覧</a></li>
	<li><a href="/admin/user/list">ユーザー情報一覧</a></li>
	<li><a href="/admin/user/list?company=1">法人ユーザー一覧</a></li>
	<li><a href="{{sign_link}}">ログアウト</a></li-->
	<li><a href="/admin/album/list">アルバム管理</a></li>
	<li><a href="/admin/picture/list">画像管理</a></li>
	<li><a href="/admin/user/list">ユーザー情報一覧</a></li>
	<li><a href="{{sign_link}}">ログアウト</a></li>
</body>



</html>
