<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>管理のユーザー詳細ページです</h1>
	<table>
		<tr>
			<td>
				<a href="/admin/user/list">一覧に戻る</a>
			<td>
			<td>
				<a href="/admin/user/showpicture?userid={{datas.key.id}}">保有画像を見る</a>
			</td>
			<td>
				<a href="/admin/user/showalbum?userid={{datas.key.id}}">アルバムを作成する</a>
			</td>
		<tr>
	</table>
	<table>
		<form method="POST" action="update">
			<tr>
				<td>表示名</td>
				<td>{{datas.name|escape}}</td>
			</tr>
			<tr>
				<td>ニックネーム</td>
				<td>{{datas.nickname|escape}}</td>
			</tr>
			<tr>
				<td>メール</td>
				<td>{{datas.email|escape}}</td>
			</tr>
			<tr>
				<td>住所</td>
				<td>{{datas.address|escape}}</td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td>{{datas.telFirst|escape}}</td>
			</tr>
			<tr>
				<td>電話番号2</td>
				<td>{{datas.telSecond|escape}}</td>
			</tr>
			<tr>
				<td>電話番号3</td>
				<td>{{datas.telThird|escape}}</td>
			</tr>
			<tr>
				<td>年齢</td>
				<td>{{datas.age|escape}}</td>
			</tr>
			<tr>
				<td>性別</td>
				<td>
				{% ifequal datas.sex 1 %}
					男
				{% else %}
					女
				{% endifequal %}
				</td>
			</tr>
			<tr>
				<td>代表者</td>
				<td>{{datas.delegate|escape}}</td>
			</tr>
			<tr>
				<td>担当者</td>
				<td>{{datas.chargePerson|escape}}</td>
			</tr>
			<tr>
				<td>資本金</td>
				<td>{{datas.capital|escape}}</td>
			</tr>
			<tr>
				<td>法人指定</td>
				<td>
				{% ifequal datas.corporateFlg 1 %}
					個人
				{% else %}
					法人
				{% endifequal %}
				</td>
			</tr>
			<tr>
				<td>会社名</td>
				<td>{{datas.corporate|escape}}</td>
			</tr>
			<tr>
				<td>備考</td>
				<td>{{datas.recital|escape}}</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="編集" />
				</td>
			</tr>
			<input type="hidden" name="id" value="{{datas.key.id}}" />
		</form>
		<tr>
			<td>
				<form method="POST" action="/admin/user/deleteconfirm">
					<input type="submit" value="削除確認" />
					<input type="hidden" name="id" value="{{datas.key.id}}" />
				</form>
			</td>
		</tr>
	</table>


</body>
